$breakpoint-sm: 600px;
$breakpoint-md: 768px;


div.feature-rowbox {
    border: 1px solid red;
    display: flex;
}

div.feature-rowbox > div {
    flex: 1 1 0;
    border: 1px solid blue;
}

div.feature-rowbox > div.col2, div.feature-rowbox > div.col3 {
    flex: 2 1 0;
}

@media (max-width: $breakpoint-md){

}
