div.contain-1120 {
    max-width:1120px;
    margin: 0 auto;
}

section.pInst {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
section.pInst > .ibox {
    flex-grow: 1;
    text-align: center;
    display: flex;
}
// section.pInst > .ibox:first-child {
section.pInst > .ibox1 {
    flex-grow: .5;
}
section.pInst > .ibox > div {
    //cant see the icons at all with this
    flex-grow: 1;
    //all the icons will lay on top of eachother without this
    position: relative;
    min-height: 80px;

    // vertical align logos center
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section.pInst > .ibox > div > img {
    position: absolute;
    left: 0;
    max-width: 250px;
}
section.pInst > .ibox > div > p {
    margin: 0;
    padding: 0;
}

