$cautionColor:       #000000;
$cautionBackground:  #fec359;
$cautionBorder:      #fec359;

$dangerColor:       #950515;
$dangerBackground:  #f8d7da;
$dangerBorder:      #f5c6cb;

$primaryColor:      #004085;
$primaryBackground: #cce5ff;
$primaryBorder:     #b8daff;

body div.fsmAlert { 
    margin-top: 0;
    margin-bottom: 0;
    padding: .1em;
    box-sizing: border-box;

    a {
        font-weight: bold;
    }

    div.alertMsg {
        padding-left: 15px;
        // padding-top: 15px;
    }

    // div.alertMsg > p:first-of-type:before {
    //     font-family: FontAwesome; 
    //     content:"\f071";
    //     padding-right: .25em;
    // }
}

body div.redFsmAlert {
    color: $dangerColor !important;
    background-color:$dangerBackground !important;
    border-color:$dangerBorder !important;
    
    h1, h2, h3, h4, h5, a, p { 
        color: $dangerColor !important;
    }
} 

body div.BlueFsmAlert {
    color: $primaryColor !important;
    background-color: $primaryBackground !important;
    border-color: $primaryBorder !important;   

    h1, h2, h3, h4, h5, a, p {
        color: $primaryColor !important;
    }
}

body div.yellowFsmAlert {
    color: $cautionColor !important;
    background-color: $cautionBackground !important;
    border-color: $cautionBorder !important;   

    h1, h2, h3, h4, h5, a, p {
        color: $cautionColor !important;
    }
}

// section#homepageContent div.overlay {
//     display: none;
// }