// @import "bs-grid/bootstrap-grid.scss";
@import "itAlert.scss";

.standard-page .feature-box.prodBox .hiddenProdSpecs {
    display: none;
}

section#shopping-cart {
    .fa {  
        font-style: normal;
    }
} 

div#spinnerContainer {
    display: flex; 
    flex-direction: column;
    padding: .5em 0;
    justify-content: center;
    align-items: center;

    p {
        margin: .5em 0 !important; 
    }
}

$break-medium:  550px;
$break-large:  875px;
$break-xlarge: 1145px;


$fsmPurple:            #514689;
$fsmPurpleHover:       #B6ACD1;
$fsmLightPurple:       #6357a0;
$fsmOrange:            #df6426;
$fsmOrangeHover:       #daa88f; 
$fsmElectricBlue:      #0082bf;
$fsmElectricBlueHover: #80c8ea;
$featureBoxGrey:       #f0f0f0; 
  
#cart {
    display: block;
    // height: auto;
    background-color: $fsmLightPurple;

    height: 0;
    transition: height 1s;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 500;

    & > div {
        display: flex;
        align-items: center;
    }

    div#cartLeft { 
        flex: 1 1 0;
        display: flex;
        justify-content: flex-end;
        padding: 1em 2em 1em 0;
        color: #fff;

        @media screen and (max-width: $break-medium ) {
            display: none;
        }

        p {
            text-transform: uppercase;
            // text-align: left;
            margin: 0;
            padding: 0;
        }
    }

    div#cartRight {
        flex: 1 1 0;
        display: flex;
        justify-content: flex-start;
        padding-left: 2em; 

        @media screen and (max-width: $break-medium ) {
            padding: 1em 2em;
            justify-content: center;
        }

        button.btn-electricBlue {
            background-color: $fsmElectricBlue;
            color: #fff;
            min-width: 200px;

            &:before {
                background: $fsmElectricBlueHover;
            }
        }
    }
}

div#cartList div.cartRow > div.crDesc {
    flex-direction: column;
}

div#cartList > div {
    display: flex;
    margin: .5em;
    
    p {
        padding: 0;
        margin: 0;
    }

    & > div {
        flex: 1 1 0;
    }

    div.crImg {
        max-width: 100px;
    }

    div.crDesc{
        flex: 2 1 0;
        padding-left: .5em;
    }

    a.crDeleteEmbed {
       visibility: hidden;
       height: 0px;
    }
}

div#cartList div.cartRow div.checkoutRow {
   display: flex;
   justify-content: flex-end;
   padding-top: .5em;
}

@media screen and (max-width: 1000px) {
    div#cartList > div {
        
        & > div {
            flex: 1 1 0;
        }

        div.crImg {
            max-width: 75px;
        }

        div.crDelete {
            visibility: hidden;
            flex: 0 0 0;
        }

        a.crDeleteEmbed {
            visibility: visible;
            height: 1em;
        }

        div.crDesc{
            flex: 2 1 0;
            padding-left: .5em;
        }
    }

    div#cartList div.cartRow div.checkoutRow {
        display: flex;
        justify-content: center;
        padding-top: .5em;
     }
}

@media screen and (min-width: 1000px) {
    #cart > div {
		max-width: 1120px;
         margin: 0 auto;	
    }
}


section#filterChecks > form {
    & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1em;
    }

    & > div:nth-last-of-type(1){
        padding-right: 0;
        padding-left: 1em;
        justify-content: flex-start;
    }

    @media screen and (max-width: $break-large) {
        & > div, & > div:nth-last-of-type(1) {
            justify-content: center;
            padding: 0;
        }
    }

    @media screen and (max-width: $break-medium) {
        & > div, & > div:nth-last-of-type(1) {
            flex-direction: column;
        }
    }

    select.filterOptions {
        color: #54585a;
        font-family: Calibri,"Trebuchet MS",Helvetica,Arial,sans-serif;
        font-size: 1em;
        margin-left: 1em;
        height: 2em;
        

        @media screen and (min-width: $break-large) {
            min-width: 150px;
        }
        // line-height: 2em;
    }

}

section.shelves {

    article.prodBox {
        cursor: pointer;
 
        div.img-container {
            @media screen and (min-width: $break-medium) {
                height: 180px;
                width: auto;
            }
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 10px;
            
            img {
                max-height: 180px;
            }
        } 

        div.feature-copy {
            padding: 1rem 1.5rem 1rem 1.5rem;
            padding-bottom: 46px;

            .hiddenProdSpecs {
                display: none;
            }

            div {
                
                a:hover {
                    text-decoration: none;
                }
    
                a.specs:hover {
                    text-decoration: underline;
                }
            }
   
        }
        
        div.renewSelect {
            margin-top: 1.5em;

            label {
                display: block;
                width: 100%;
            }

            select {
                margin-top: .25em;
                padding-top: .25em;
            }
        }

    }
}

a.onCart {
    background-color: $fsmOrange !important;
    &:before  {
        background-color: $fsmOrangeHover !important;
    }
}

div#overlay-content {
    max-width: 750px;

    @media screen and (max-width: $break-large) {
        max-width: 75%;
    }

    a.closebtn i {
        font-style: normal;
    }

}

div.overlayImg {
    margin-top: 1.6rem; 
}

section#jumpers {
    width: 100%;
    margin-bottom: 1em !important;

    div.jumper {
        float: left;
        padding: .5em .75em;

        a {
            text-transform: uppercase;
        }
    }

    div.clrflt {
        clear: both;
    }
}
