// @import "bs-grid/bootstrap-grid.scss";
@import "itAlert.scss";

.standard-page .feature-box.prodBox {
    max-width: none !important;
    border: 1px solid red;
}
.standard-page .feature-box.prodBox .feature-img img {
    min-width: initial !important;
    border: 1px solid blue;
}
.standard-page .feature-box.prodBox .hiddenProdSpecs {
    display: none;
}








section#shopping-cart {
    .fa {  
        font-style: normal;
    }
} 

div#spinnerContainer {
    display: flex; 
    flex-direction: column;
    padding: .5em 0;
    justify-content: center;
    align-items: center;

    p {
        margin: .5em 0 !important; 
    }
}

div#headerWrapper{
    *,
    *::before,
    *::after {
        // box-sizing: inherit;
        // box-sizing: border-box;
        box-sizing: content-box;
    }
}

$break-medium:  550px;
$break-large:  875px;
$break-xlarge: 1145px;


$fsmPurple:            #514689;
$fsmPurpleHover:       #B6ACD1;
$fsmLightPurple:       #6357a0;
$fsmOrange:            #df6426;
$fsmOrangeHover:       #daa88f; 
$fsmElectricBlue:      #0082bf;
$fsmElectricBlueHover: #80c8ea;
$featureBoxGrey:       #f0f0f0; 
  
#cart {
    display: block;
    // height: auto;
    background-color: $fsmLightPurple;

    height: 0;
    transition: height 1s;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 500;

    & > div {
        display: flex;
        align-items: center;
    }

    div#cartLeft { 
        flex: 1 1 0;
        display: flex;
        justify-content: flex-end;
        padding: 1em 2em 1em 0;
        color: #fff;

        @media screen and (max-width: $break-medium ) {
            display: none;
        }

        p {
            text-transform: uppercase;
            // text-align: left;
            margin: 0;
            padding: 0;
        }
    }

    div#cartRight {
        flex: 1 1 0;
        display: flex;
        justify-content: flex-start;
        padding-left: 2em; 

        @media screen and (max-width: $break-medium ) {
            padding: 1em 2em;
            justify-content: center;
        }

        a.button {  
            padding: .8em; 
            min-width: 200px;
            background-color: $fsmElectricBlue;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;

            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -moz-osx-font-smoothing: grayscale;
            position: relative;
            -webkit-transition-property: color;
            transition-property: color;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            min-width: 165px;
            border: none;     
            
            &:hover {
                text-decoration: none;
            }

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $fsmElectricBlueHover;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                -webkit-transition-property: transform;
                transition-property: transform;
                -webkit-transition-duration: 0.2s;
                transition-duration: 0.2s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out
            }

            &:hover:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1)
            }
        }
    }
}

div#cartList {
    overflow-y: scroll;
    max-height: 600px;
    width: 100%;
}

div#cartList div.cartRow > div {
    display: flex;
    justify-content: center;
    align-items: center;

}

div#cartList div.cartRow > div.crDesc {
    flex-direction: column;
}

div#cartList > div {
    display: flex;
    margin: .5em;
    
    p {
        padding: 0;
        margin: 0;
    }

    & > div {
        flex: 1 1 0;
    }

    div.crImg {
        max-width: 100px;
    }

    div.crDesc{
        flex: 2 1 0;
        padding-left: .5em;
    }

    a.crDeleteEmbed {
       visibility: hidden;
       height: 0px;
    }
}

div#cartList div.cartRow div.checkoutRow {
   display: flex;
   justify-content: flex-end;
   padding-top: .5em;
}

@media screen and (max-width: 1000px) {
    div#cartList > div {
        
        & > div {
            flex: 1 1 0;
        }

        div.crImg {
            max-width: 75px;
        }

        div.crDelete {
            visibility: hidden;
            flex: 0 0 0;
        }

        a.crDeleteEmbed {
            visibility: visible;
            height: 1em;
        }

        div.crDesc{
            flex: 2 1 0;
            padding-left: .5em;
        }
    }

    div#cartList div.cartRow div.checkoutRow {
        display: flex;
        justify-content: center;
        padding-top: .5em;
     }
}

@media screen and (min-width: 1000px) {
    #cart > div {
		max-width: 1120px;
         margin: 0 auto;	
    }
}


section#filterChecks > form {
    & > div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1em;
    }

    & > div:nth-last-of-type(1){
        padding-right: 0;
        padding-left: 1em;
        justify-content: flex-start;
    }

    @media screen and (max-width: $break-large) {
        & > div, & > div:nth-last-of-type(1) {
            justify-content: center;
            padding: 0;
        }
    }

    @media screen and (max-width: $break-medium) {
        & > div, & > div:nth-last-of-type(1) {
            flex-direction: column;
        }
    }

    select.filterOptions {
        color: #54585a;
        font-family: Calibri,"Trebuchet MS",Helvetica,Arial,sans-serif;
        font-size: 1em;
        margin-left: 1em;
        height: 2em;
        

        @media screen and (min-width: $break-large) {
            min-width: 150px;
        }
        // line-height: 2em;
    }

}

section.shelves {

    // & > div.row {
    //     margin-left: -30px;
    //     margin-right: -30px;
    // }

    // div.pbc { 
    //     display: flex;
    //     padding-bottom: 15px;
    // }

    article.prodBox {
        // flex-grow: 1;
        background-color: $featureBoxGrey;
        cursor: pointer;
        // box-sizing: border-box; 
        // position: relative;
        // width: 100%;
 
        div.img-container {
            @media screen and (min-width: $break-medium) {
                height: 180px;
                width: auto;
            }
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 10px;
            
            img {
                max-height: 180px;
            }
        } 

        div.feature-copy {
            padding: 1rem 1.5rem 1rem 1.5rem;
            margin-bottom: 46px;
            display: flex;
            flex-direction: column;

            .hiddenProdSpecs {
                display: none;
            }

            div {
                flex-grow: 1 1 0;
                justify-self: end;
                
                a:hover {
                    text-decoration: none;
                }
    
                a.specs:hover {
                    text-decoration: underline;
                }
            }
   
        }
        
        div.renewSelect {
            margin-top: 1.5em;

            label {
                display: block;
                width: 100%;
            }

            select {
                margin-top: .25em;
                padding-top: .25em;
            }
        }

    }
}

a.onCart {
    background-color: $fsmOrange !important;
    &:before  {
        background-color: $fsmOrangeHover !important;
    }
}

div#overlay-content {
    max-width: 750px;

    @media screen and (max-width: $break-large) {
        max-width: 75%;
    }

    a.closebtn i {
        font-style: normal;
    }

}

div#overlayGuts {
    // position: relative;
    height: auto !important;
    overflow: none !important;
    padding-bottom: 0 !important;
    padding-left: 0;
    background-color: white;

    div#overlayPad {
        padding: 1em;
        height: 100%;

        div.renewModalSelect {
            margin-bottom: 1.5em;
            
            label {
                display: block;
                width: 100%;
            }

            select {
                margin-top: .25em;
                padding-top: .25em;
            }
        }
    }

    h3 {
        color: $fsmPurple;
        font-family: Calibri,Helvetica,Arial,sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2em;
        padding-top: 0;
        padding-bottom: 10px;
        margin: 0;
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
        color:#716c6b;
        margin-bottom: 1rem;
    }

    //overlay is outside the main-content styling therefore we need to mimic the style of btns on the modal
    a {
        font-weight: bold;
        color: $fsmPurple;
    }

    a.button {  
        padding: .8em; 
        min-width: 200px;
        background-color: $fsmPurple;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;

        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        min-width: 165px;
        border: none;     
        
        &:hover {
            text-decoration: none;
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $fsmPurpleHover;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out
        }

        &:hover:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1)
        }
    }
}

body.modal-open {
    /*block scroll for mobile;
    */
    /*causes underlying page to jump to top;
    */
    /*prevents scrolling on all screens*/
     overflow: hidden;
     position: fixed;
 }

section#jumpers {
    width: 100%;
    margin-bottom: 1em !important;

    div.jumper {
        float: left;
        padding: .5em .75em;

        a {
            text-transform: uppercase;
        }
    }

    div.clrflt {
        clear: both;
    }
}
