$firstBreakPoint: 1100px;
$secondBreakPoint: 650px;
$thirdBreakPoint: 400px;


div.specProfiles {
    display: flex;
    flex-flow: row wrap;
    // justify-content: sp;
    align-content: center;
    // margin: 1em;
}

div.specImg {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    flex: .5 .5 auto;

    img {
        max-width: 150px;
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: $firstBreakPoint) { 
        flex: 1 1 auto;

        & img {
            margin-bottom: 1em;
        }

    }
}


article.specProfile {

    width: 30%;
    margin: .5em;
    background: #f0f0f0;
    padding: .5em;

    display: flex;
    flex: 1 1 1;
    align-content: center;

    & > div.specContent {
        overflow: none;
        margin: 0 .5em .5em .5em;
        max-width: 100%;
        word-wrap: break-word;

        h4 {
            margin-top: 0;
            margin-bottom: 0;
        }

        p {
            // padding-top: .25em;
            margin-top: .25em;
        }
    }

    @media screen and (max-width: $firstBreakPoint) { 
        flex-direction: column;
        align-items: center;
     }

    @media screen and (max-width: $secondBreakPoint) { 
        width: 47%;
    }

    @media screen and (max-width: $secondBreakPoint) { 
        width: 100%;
    }
}

