body {
    // border: 1px solid green;
    background-color: #ccc;
}

div#newsIndex {
    max-width: 1120px;
    margin: 0 auto;
    // border: 1px solid red;  

    li {
        margin-bottom: 1em;
        padding-bottom: 1em;
        // border-bottom: 1px solid purple;
    }

}

div#newsIndex li.morePlease {
    border: 1px solid green;
    position: relative;
    overflow: hidden;
}

div#newsIndex li.MorePlease div.newsDetail {
    max-height:150px;
}

div#newsIndex li.morePlease div.readMoreNews {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 150px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, transparent, white 75%);
}

div#newsIndex li.morePlease div.readMoreNews a {
    position: absolute;
    bottom: 0;
    left: 38.5%;
    width: 25%;
    padding-bottom: .5em;
    text-align: center;
}

// div#newsIndex li.openNews {
//     padding-bottom: 30px;
//     border: 1px solid red;
//     margin-bottom: 30px;
// }

div#newsIndex li.openNews div.readMoreNews  {
    background-image: none !important;
}

// div#newsIndex li.morePlease div.newsDetail {
//     max-height: 200px;
//     overflow: hidden;
//     background-image: linear-gradient(to bottom, transparent, white 75%);
// }

