div#curriculum-timeline {
    display: flex;
    margin: 1.5em 0 !important;
}

div.c-col > h3 {
    border-bottom: 3px solid #514689;
    font-size: 1.2em !important;
    font-weight: bold !important;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    padding: 1em 1em 0.3em;
}


div.c-col {
    flex: 1 1 100%;
    text-align: center;
}

div.c-row {
    display: flex;
    min-height: 60px;
}

div.c-course {
    border: 3px solid #fff;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 0;
    background: #f0f0f0;
    color: #514689;
    transition: all .25s ease-out;
    cursor: pointer;
}

div.c-course:hover {
    color: #fff;
    background: #514689;
}

div.c-course div.c-detail {
    display: none;
}

div#timelineModal {
    height: auto !important;
    background-color: white;
    padding: 1em !important;
    box-sizing: border-box;
}

@media only screen and (max-width:875px) {
   
    div#curriculum-timeline {
        flex-direction: column;
    }
    
     div.c-col {
        margin-bottom: 2em;
    }
    
    div.c-col:last-child {
        margin-bottom: 0;
    }
   
}